<div class="pensamento {{thought.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="/assets/images/{{thought.modelo}}.png" alt="quotation marks">
    <p class="conteudo"> {{thought.content}}</p>
    <p class="autoria"> <b>{{thought.authorship}}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/images/icone-editar.png" alt="Edit icon">
        </button>
        <button class="botao-excluir">
            <img src="/assets/images/icone-excluir.png" alt="Delete icon">
        </button>
    </div>
</div>