<section class="container">
  <header class="header d-flex">
    <h2 class="ff-inter">Wall </h2>
    <button class="botao" routerLink="/newThought"> Add new thought</button>
  </header>
  <div class="mural" *ngIf="listThoughts.length > 0, else noThoughts">
    <div *ngFor="let thought of listThoughts">
      <app-thought [thought]="thought"></app-thought>
    </div>
  </div>
</section>

<ng-template #noThoughts>
    <div class="ff-inter sem-pensamentos"> 
      <p> There's no thoughts saved yet</p>
    </div>
</ng-template>